<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @escalation_rule.name %>
</p>

<%= link_to 'Edit', edit_escalation_rule_path(@escalation_rule) %> |
<%= link_to 'Back', escalation_rules_path %>
