
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @user.provider %>
</p>

<p>
  <strong>UID:</strong>
  <%= @user.uid %>
</p>

<%= link_to 'Back', users_path %>
