New incident opened: <%= event.incident.subject %> (<a href="<%= Rails.application.routes.url_helpers.acknowledge_incident_url(event.incident, hash: incident.confirmation_hash) %>">Acknowledge</a>) (<a href="<%= Rails.application.routes.url_helpers.resolve_incident_url(event.incident, hash: incident.confirmation_hash) %>">Resolve</a>)
